<link rel="import" href="../standard/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../standard/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../standard/core-collapse/core-collapse.html">
<link rel="import" href="../standard/core-ajax/core-ajax.html">
<link rel="import" href="../standard/paper-toast/paper-toast.html">
<link rel="import" href="../standard/paper-progress/paper-progress.html">

<polymer-element name="artist-info">
   <template>
      <link rel="stylesheet" type="text/css" href="artist-info.css">
      <div id="banner" on-click="{{ toggleCollapse }}">
         <h2 flex  horizontal layout>
            <div flex>{{ artist }}</div>
            <div class="playcount" self-center>
               <template if="{{ plays }}">
                  <span>{{ plays }}</span> total play<template if="{{ plays > 1 }}">s</template>
               </template>
               <template if="{{ plays && last }}">
                  |
               </template>
               <template if="{{ last }}">
                  last played on <span>{{ last }}</span>
               </template>
            </div>
         </h2>
         <paper-progress indeterminate?="{{ loading }}" ></paper-progress>
      </div>
      <core-collapse id="collapse">
         <div id="wrapper">
            <div id="chart" flex>
               <content></content>
            </div>
            <div class="legend">
               <paper-radio-group id="albums" multi="true" wrap justified layout horizontal>
                  <template repeat="{{ a, i in albums }}">
                     <paper-radio-button class="{{ i | albumColor }}"
                        name="{{ a }}" label="{{ a }}" toggles></paper-radio-button>
                  </template>
               </paper-radio-group>
            </div>
         </div>
      </core-collapse>
      <core-ajax id="ajax"
         url="{{ host }}/counts?user={{ user }}&artist={{ artist | escape }}&mbid={{ mbid }}"
         handleAs="json" loading="{{ loading }}" on-core-response="{{ loadChart }}"
      ></core-ajax>
      <paper-toast id="toast" text="error"></paper-toast>
   </template>
      <script>

Polymer('artist-info', {
   publish: {
      artist: '',
      mbid: '',
      user: '',
      plays: null,
      last: null,
      loading: false
   },

   observe: {
      '$.albums.selected': 'updateAlbums'
   },

   created: function() {
      this.lastChart = null;
      this.albums = [];
   },

   domReady: function() {
      this.host = utils.host;
   },

   toggleCollapse: function() {
      if (!this.lastChart && !this.loading && this.user && this.artist) {
         this.$.ajax.go();
      } else if (this.lastChart) {
         this.$.collapse.toggle();
      }
   },

   loadChart: function(evt) {
      // Try to parse response.
      var histograms;
      try {
         histograms = evt.detail.response.histograms;
      } catch(err) {
         this.$.toast.show();
      }

      var domain = utils.getDomain(histograms);
      var chartData = [];
      var i = 0;
      this.albums = [];
      for (album in histograms) {
         chartData.push({
            key: album,
            values: utils.histogramToChartPoints(histograms[album], i, domain),
            color: this.albumColorCode(i++)
         });
         this.albums.push(album);
      }
      this.$.albums.selected = this.arrayCopy(this.albums);
      this.$.collapse.toggle();
      nv.addGraph({
         generate: function() {
            this.lastChart = utils.formattedChart(chartData,
                  utils.sortedValues(domain), this.querySelector('.chart_svg'));
            return this.lastChart;
         }.bind(this)
      });
   },

   albumColor: function(i) {
      return colors.get(i);
   },

   albumColorCode: function(i) {
      return colors.code[colors.get(i)];
   },

   escape: function(str) {
      return escape(str);
   },

   updateChart: function(disabled) {
      if(this.lastChart) {
         if (disabled)
            this.lastChart.dispatch.changeState({'disabled': disabled});
         this.lastChart.update();
      }
   },

   arrayCopy: function(a) {
      return a.map(function (val) { return val });
   },

   updateAlbums: function() {
      var selected = this.$.albums.selected;
      if (selected && this.albums) {
         var disabled = this.albums.map(function(a) {
            return selected.indexOf(a) == -1;
         });
         if (utils.allTrue(disabled))
            disabled = utils.fullArray(disabled.length, false);
         this.updateChart(disabled);
      }
   }
});

   </script>
</polymer-element>
