h1, h2 {
   font-weight: normal;
   margin: 0px;
}

#chart ::content text {
   font: 12px Inconsolata, sans-serif;
   fill: #B0B0B0;
}

#chart ::content svg {
   display: block;
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#chart ::content .tick line{
  display: none;
}

#chart ::content .nv-y path.domain {
   stroke: #5D5D5D;
}

#chart {
   height: 400px;
}

#wrapper {
   padding: 20px;
}

.legend {
   padding-left: 20px;
   padding-right: 20px;
}

:host {
   display: block;
}

#banner {
   cursor: pointer;
   background-color: rgb(50, 50, 50);
   position: relative;
   border-top: 5px solid #5D5D5D;
}

.playcount {
   font-size: smaller;
}

.playcount span {
   color: #9CD9F0;
}

h2 {
   padding: 15px;
   padding-bottom: 20px;
}

paper-progress {
   position: absolute;
   width: 100%;
   bottom: 0px;
   height: 5px;
}

paper-progress::shadow #progressContainer {
  background-color: rgb(50, 50, 50);
}

paper-progress::shadow #activeProgress {
  background-color: #5D5D5D;
}

paper-radio-button.Pink::shadow #offRadio,
paper-radio-button.Pink::shadow #onRadio {
   border-color: #f06292;
}
paper-radio-button.Pink::shadow #onRadio {
   background-color: #f06292;
}

paper-radio-button.Deep_Purple::shadow #offRadio,
paper-radio-button.Deep_Purple::shadow #onRadio {
   border-color: #9575cd;
}
paper-radio-button.Deep_Purple::shadow #onRadio {
   background-color: #9575cd;
}

paper-radio-button.Indigo::shadow #offRadio,
paper-radio-button.Indigo::shadow #onRadio {
   border-color: #7986cb;
}
paper-radio-button.Indigo::shadow #onRadio {
   background-color: #7986cb;
}

paper-radio-button.Teal::shadow #offRadio,
paper-radio-button.Teal::shadow #onRadio {
   border-color: #4db6ac;
}
paper-radio-button.Teal::shadow #onRadio {
   background-color: #4db6ac;
}

paper-radio-button.Brown::shadow #offRadio,
paper-radio-button.Brown::shadow #onRadio {
   border-color: #a1887f;
}
paper-radio-button.Brown::shadow #onRadio {
   background-color: #a1887f;
}

paper-radio-button.Purple::shadow #offRadio,
paper-radio-button.Purple::shadow #onRadio {
   border-color: #ba68c8;
}
paper-radio-button.Purple::shadow #onRadio {
   background-color: #ba68c8;
}

paper-radio-button.Light_Green::shadow #offRadio,
paper-radio-button.Light_Green::shadow #onRadio {
   border-color: #aed581;
}
paper-radio-button.Light_Green::shadow #onRadio {
   background-color: #aed581;
}

paper-radio-button.Grey::shadow #offRadio,
paper-radio-button.Grey::shadow #onRadio {
   border-color: #e0e0e0;
}
paper-radio-button.Grey::shadow #onRadio {
   background-color: #e0e0e0;
}

paper-radio-button.Yellow::shadow #offRadio,
paper-radio-button.Yellow::shadow #onRadio {
   border-color: #fff176;
}
paper-radio-button.Yellow::shadow #onRadio {
   background-color: #fff176;
}

paper-radio-button.Blue_Grey::shadow #offRadio,
paper-radio-button.Blue_Grey::shadow #onRadio {
   border-color: #90a4ae;
}
paper-radio-button.Blue_Grey::shadow #onRadio {
   background-color: #90a4ae;
}

paper-radio-button.Light_Blue::shadow #offRadio,
paper-radio-button.Light_Blue::shadow #onRadio {
   border-color: #4fc3f7;
}
paper-radio-button.Light_Blue::shadow #onRadio {
   background-color: #4fc3f7;
}

paper-radio-button.Deep_Orange::shadow #offRadio,
paper-radio-button.Deep_Orange::shadow #onRadio {
   border-color: #ff8a65;
}
paper-radio-button.Deep_Orange::shadow #onRadio {
   background-color: #ff8a65;
}

paper-radio-button.Green::shadow #offRadio,
paper-radio-button.Green::shadow #onRadio {
   border-color: #81c784;
}
paper-radio-button.Green::shadow #onRadio {
   background-color: #81c784;
}

paper-radio-button.Blue::shadow #offRadio,
paper-radio-button.Blue::shadow #onRadio {
   border-color: #64b5f6;
}
paper-radio-button.Blue::shadow #onRadio {
   background-color: #64b5f6;
}

paper-radio-button.Orange::shadow #offRadio,
paper-radio-button.Orange::shadow #onRadio {
   border-color: #ffb74d;
}
paper-radio-button.Orange::shadow #onRadio {
   background-color: #ffb74d;
}

paper-radio-button.Cyan::shadow #offRadio,
paper-radio-button.Cyan::shadow #onRadio {
   border-color: #4dd0e1;
}
paper-radio-button.Cyan::shadow #onRadio {
   background-color: #4dd0e1;
}

paper-radio-button.Amber::shadow #offRadio,
paper-radio-button.Amber::shadow #onRadio {
   border-color: #ffd54f;
}
paper-radio-button.Amber::shadow #onRadio {
   background-color: #ffd54f;
}

paper-radio-button.Red::shadow #offRadio,
paper-radio-button.Red::shadow #onRadio {
   border-color: #e57373;
}
paper-radio-button.Red::shadow #onRadio {
   background-color: #e57373;
}

paper-radio-button.Lime::shadow #offRadio,
paper-radio-button.Lime::shadow #onRadio {
   border-color: #dce775;
}
paper-radio-button.Lime::shadow #onRadio {
   background-color: #dce775;
}
