<link rel="import" href="../standard/paper-input/paper-input.html">
<link rel="import" href="../standard/paper-spinner/paper-spinner.html">
<link rel="import" href="../standard/core-collapse/core-collapse.html">

<polymer-element name="user-info">
   <template>
      <link rel="stylesheet" type="text/css" href="user-info.css">
      <div class="banner">
         <paper-input id="userinput" floatingLabel label="user" on-change="{{ logUser }}" spellcheck="false"></paper-input>
         <paper-spinner active?="{{ loading }}"></paper-spinner>
      </div>
      <template if="{{ artists.length == 0 && user.length != 0 && !loading }}">
         <div class="noartists">no top artists for <span>{{ user }}</span></div>
      </template>
      <core-collapse id="artists">
         <template repeat="{{ a in artists }}">
            <artist-info mbid="{{ a.mbid }}" artist="{{ a.name }}" plays="{{ a.plays }}" user="{{ user }}">
               <svg class="chart_svg"></svg>
            </artist-info>
         </template>
      </core-collapse>
      <core-ajax id="ajax" url="{{ host }}/artists?user={{ user }}"
         handleAs="json" loading="{{ loading }}" on-core-response="{{ handleArtists }}"
      ></core-ajax>
   </template>
      <script>

Polymer('user-info', {
   publish: {
      user: '',
      artists: [],
      loading: false
   },

   domReady: function() {
      this.host = utils.host;
   },

   logUser: function(evt) {
      this.user = this.$.userinput.value;
   },

   handleArtists: function(evt) {
      this.hideArtists();
      this.artists = evt.detail.response.artists.slice(0, 20);
      this.async(function() {
         this.showArtists();
      })
   },

   userChanged: function() {
      if (this.user)
         this.$.ajax.go();
   },

   hideArtists: function() {
      if (this.$.artists.opened)
         this.$.artists.toggle();
   },

   showArtists: function() {
      if (!this.$.artists.opened)
         this.$.artists.toggle();
   },

   created: function() {
      this.artists = [];
   }
});

   </script>
</polymer-element>
