artist-info {
   margin: 5px;
   border-radius: 3px;
   overflow: hidden;
}

paper-input {
   display: block;
}

.banner {
   margin: auto;
   width: 27%;
   font-size: xx-large;
   position: relative;
}

paper-input::shadow paper-input-decorator[focused] /deep/ .floated-label .label-text {
   color: #9CD9F0;
}

paper-input::shadow paper-input-decorator /deep/ .focused-underline,
paper-tabs::shadow #selectionBar {
    background-color: #9CD9F0;
}

paper-input::shadow paper-input-decorator /deep/ .unfocused-underline {
   background-color: rgb(50, 50, 50);
}

paper-tabs {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}

.noartists {
   width: 35%;
   margin: auto;
   text-align: center;
   background-color: rgb(50, 50, 50);
   font-size: large;
   padding: 20px;
}

.noartists span {
   color: #E09690;
}

paper-progress {
   position: absolute;
   width: 100%;
   top: 0px;
   left: 0px;
   height: 5px;
}

paper-progress::shadow #progressContainer {
  background-color: rgb(29, 29, 29);
}

paper-progress::shadow #activeProgress {
  background-color: #F7F7F7;
}
