body {
   color: #F7F7F7;
   background-color: rgb(29, 29, 29);
   font-family: Inconsolata, sans-serif;
}

body, html, h1, h2, h3 {
   margin: 0px;
   padding: 0px;
}

#container {
   width: 1000px;
   margin: auto;
}

* /deep/ rect {
   stroke: transparent !important;
}

* /deep/ .nvd3 rect[height="1"] {
  display: none !important;
}
